*{
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    max-width: 320px;
    max-height: 400px;
    background: #eee;
    border: 5px solid black;
    border-radius: 5px;
}

.display-numbers{
    background: gray;
    color: black;
    font-size: 2em;
    border: 0;
    padding: 0;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    height: 60px;
    border-bottom: 4px solid black;

    /* This will prevent overflow */
    overflow-x: auto;
    font-size: 2rem;
    text-align: right;
}

.calc-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0;
    background-color: rgb(0, 0, 0);
}

.digits{
    border: 1px solid blue;
    height: 50px;
    width: 400px;
}

.btn{
    font-size:1em;
    height: 65px;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
}

.btn.orange{
    background: #FF8F1F;
}

.green{
    background: #2d8f91;
}

.btn.equal{
    background-color: green;
}

.blue{
    background: #1E90FF;
}

.all-clear{
    border-radius: 10px;
}

.btn:hover{
    background: #fff;
}

.btn:active{
    transform: scale(0.97);
    background-color: #555;
}

.switch-dark-mode {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

.switch-dark-mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode-toggle {
    background-color: #111;
    color: #f1f1f1;
}

.dark-mode-toggle {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border: 1px solid #444
}